---
BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
KeepEmptyLines:
  AtStartOfFile: false
InsertNewlineAtEOF: true

# Regroup causes unnecessary noise due to clang-format bug.
IncludeBlocks: Preserve

---
Language: Java
DisableFormat: true
SortIncludes: false
