[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = https://github.com/xenia-project/xbyak.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/binutils-ppc-cygwin"]
	path = third_party/binutils-ppc-cygwin
	url = https://github.com/benvanik/binutils-ppc-cygwin
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/xenia-project/capstone.git
[submodule "third_party/libav"]
	path = third_party/libav
	url = https://github.com/xenia-project/libav.git
[submodule "third_party/spirv-tools"]
	path = third_party/spirv-tools
	url = https://github.com/xenia-project/SPIRV-Tools.git
[submodule "third_party/catch"]
	path = third_party/catch
	url = https://github.com/philsquared/Catch.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/benvanik/gflags.git
[submodule "third_party/premake-core"]
	path = third_party/premake-core
	url = https://github.com/xenia-project/premake-core.git
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/xenia-project/snappy.git
[submodule "third_party/premake-export-compile-commands"]
	path = third_party/premake-export-compile-commands
	url = https://github.com/xenia-project/premake-export-compile-commands.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/spirv-headers"]
	path = third_party/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "third_party/volk"]
	path = third_party/volk
	url = https://github.com/zeux/volk.git
[submodule "third_party/discord-rpc"]
	path = third_party/discord-rpc
	url = https://github.com/discordapp/discord-rpc
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
