[submodule "third_party/ninja"]
	path = third_party/ninja
	url = git://github.com/martine/ninja.git
[submodule "third_party/llvm"]
	path = third_party/llvm
	url = http://llvm.org/git/llvm.git
[submodule "third_party/gyp"]
	path = third_party/gyp
	url = https://github.com/benvanik/gyp.git
