# ==============================================================================
# Misc system junk
# ==============================================================================

.DS_Store
._*
.Spotlight-V100
.Trashes
.com.apple.*
Thumbs.db
Desktop.ini
.svn

# ==============================================================================
# Projects/IDE files
# ==============================================================================

# Sublime Text
*.sublime-project
*.sublime-workspace

# VIM
.*.sw[a-z]
*.un~
Session.vim

# TextMate
*.tmproj
*.tmproject
tmtags

# Eclipse
.project
.metadata

# WebStorm
.idea

# ==============================================================================
# Temp generated code
# ==============================================================================

*.py[co]
.coverage

# ==============================================================================
# Logs and dumps
# ==============================================================================

npm-debug.log
private/

# ==============================================================================
# Build system output
# ==============================================================================

# npm/node
.lock-wscript
node_modules/
node_modules/**/build/
node_modules/.bin/

# coverage/etc
scratch/

.anvil-cache
.build-cache/
build/
build-out/
build-gen/
build-bin/
build-test/
