<div class="debugger-main" ng-controller="CodeTabController">
  <div class="debugger-header">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-success" ng-click="app.session.continueExecution()" ng-disabled="!app.session.dataSource || !app.session.paused">
        <span class="glyphicon glyphicon-play"></span>
      </button>
      <button type="button" class="btn btn-danger" ng-click="app.session.breakExecution()" ng-disabled="!app.session.dataSource || app.session.paused">
        <span class="glyphicon glyphicon-pause"></span>
      </button>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default" ng-click="showLocation()" ng-disabled="!app.session.dataSource || !app.session.paused">
        <span class="glyphicon glyphicon glyphicon-arrow-right"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="app.session.stepNext()" ng-disabled="!app.session.dataSource || !app.session.paused">
        <span class="glyphicon glyphicon-step-forward"></span>
      </button>
    </div>
  </div>
  <div class="debugger-body">
    <div class="debugger-fnlist">
      <div class="debugger-fnlist-header">
        <div class="btn-group btn-group-xs full-width">
          <button type="button" class="btn btn-default dropdown-toggle full-width" data-toggle="dropdown">
            {{selectedModule.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="module in moduleList"><a href="" ng-click="selectModule(module)">{{module.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="debugger-fnlist-body">
        <div class="debugger-fnlist-list">
          <table class="table table-hover">
            <tr ng-repeat="fn in functionList | filter:functionFilter | orderBy:'address'">
              <td><a ui-sref="session.code.function({function: (fn.address | hex32)})">{{fn.name}}</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="debugger-fnlist-footer">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Filter" ng-model="functionFilter" ui-escape="functionFilter = ''">
        </div>
      </div>
    </div>
    <div class="debugger-fnview-outer" ui-view></div>
    <div class="debugger-tools">
      <div class="debugger-tools-threads">
        <div class="btn-group btn-group-xs full-width">
          <button type="button" class="btn btn-default dropdown-toggle full-width" data-toggle="dropdown">
            thread 0 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">thread 1</a></li>
            <li><a href="#">thread 2</a></li>
          </ul>
        </div>
      </div>
      <div class="debugger-tools-callstack">
        callstack
      </div>
      <div class="debugger-tools-registers">
        registers
      </div>
    </div>
  </div>
</div>
