<div class="debugger-main" ng-controller="CodeTabController">
  <div class="debugger-header">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-success" ng-click="app.session.continueExecution()" ng-disabled="!app.session.paused">
        <span class="glyphicon glyphicon-play"></span>
      </button>
      <button type="button" class="btn btn-danger" ng-click="app.session.breakExecution()" ng-disabled="app.session.paused">
        <span class="glyphicon glyphicon-pause"></span>
      </button>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default" ng-click="showLocation()" ng-disabled="!app.session.paused">
        <span class="glyphicon glyphicon glyphicon-arrow-right"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="app.session.stepNext()" ng-disabled="!app.session.paused">
        <span class="glyphicon glyphicon-step-forward"></span>
      </button>
    </div>
  </div>
  <div class="debugger-body">
    <div class="debugger-fnlist">
      <div class="debugger-fnlist-header">
        <div class="debugger-fnlist-header-left btn-group btn-group-xs full-width">
          <button type="button" class="btn btn-default dropdown-toggle left-align full-width" data-toggle="dropdown">
            {{selectedModule.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="module in moduleList"><a href="" ng-click="selectModule(module)">{{module.name}}</a></li>
          </ul>
        </div>
        <div class="debugger-fnlist-header-right btn-group btn-group-xs">
          <button type="button" class="btn btn-default" ng-click="showModuleInfo()">
            Info
          </button>
        </div>
      </div>
      <div class="debugger-fnlist-body">
        <div class="debugger-fnlist-list">
          <table class="table table-hover">
            <tr ng-repeat="fn in functionList track by $index | filter:functionFilter | orderBy:'address'">
              <td><a xe-coderef="{{fn.address|hex32}}">{{fn.name}}</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="debugger-fnlist-footer">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Filter" ng-model="functionFilter" ui-escape="functionFilter = ''">
        </div>
      </div>
    </div>
    <div class="debugger-fnview-outer" ui-view></div>
    <div class="debugger-tools">
      <div class="debugger-tools-threads">
        <div class="debugger-tools-threads-header-left btn-group btn-group-xs full-width">
          <button type="button" class="btn btn-default left-align dropdown-toggle full-width" data-toggle="dropdown">
            Thread {{app.session.activeThread.id}}: {{app.session.activeThread.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="thread in app.session.state.threadList | orderBy:'id'">
              <a href="" ng-click="app.session.activeThread = thread;">Thread {{thread.id}}: {{thread.name}}</a>
            </li>
          </ul>
        </div>
        <div class="debugger-tools-threads-header-right btn-group btn-group-xs">
          <button type="button" class="btn btn-default" ng-click="showThreadInfo()">
            Info
          </button>
        </div>
      </div>
      <div class="debugger-tools-callstack">
        callstack
      </div>
      <div class="debugger-tools-registers">
        <div class="debugger-tools-registers-container special">
          <div class="debugger-tools-registers-entry">
            <span class="name">pc</span>
            <input class="hex-value"
                   value="{{app.session.activeThread.context.pc|hex32}}"
                   popover="TODO: template to link to code/memory"
                   popover-trigger="focus"
                   onclick="this.select()">
          </div>
          <div class="debugger-tools-registers-entry">
            <span class="name">lr</span>
            <input class="hex-value"
                   value="{{app.session.activeThread.context.lr|hex32}}"
                   popover="TODO: template to link to code/memory"
                   popover-trigger="focus"
                   onclick="this.select()">
          </div>
          <div class="debugger-tools-registers-entry">
            <span class="name">ctr</span>
            <input class="hex-value"
                   value="{{app.session.activeThread.context.ctrh}}"
                   popover="TODO: template to link to code/memory"
                   popover-trigger="focus"
                   onclick="this.select()">
            <input class="int-value"
                   value="{{app.session.activeThread.context.ctrs}}"
                   onclick="this.select()">
          </div>
        </div>
        <div class="debugger-tools-registers-container gpr">
          <div ng-repeat="v in app.session.activeThread.context.r track by $index"
               class="debugger-tools-registers-entry">
            <span class="name">r{{$index}}</span>
            <input class="hex-value"
                   value="{{app.session.activeThread.context.rh[$index]}}"
                   popover="TODO: template to link to code/memory"
                   popover-trigger="focus"
                   onclick="this.select()">
            <input class="int-value"
                   value="{{app.session.activeThread.context.rs[$index]}}"
                   onclick="this.select()">
          </div>
        </div>
        <div class="debugger-tools-registers-container fpr">
          <div ng-repeat="v in app.session.activeThread.context.f track by $index"
               class="debugger-tools-registers-entry">
            <span class="name">f{{$index}}</span>
            <span class="value" tooltip="{{app.session.activeThread.context.fh[$index]}}">{{v|exp8}}</span>
          </div>
        </div>
        <!--
        <div class="debugger-tools-registers-container">
          <div ng-repeat="v in app.session.activeThread.context.v track by $index"
               class="debugger-tools-registers-entry vec">
            <span class="name">v{{$index}}</span> <span class="value">{{v}}</span>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
