<div class="debugger-fnview" ng-controller="FunctionViewController">
  <div class="debugger-fnview-header">
    <div class="debugger-fnview-header-left">
      <span class="debugger-fnview-header-name" ng-bind="fn.name"></span><br/>
      <span class="debugger-fnview-header-address">(0x{{fn.startAddress | hex32}}-0x{{fn.endAddress | hex32}})</span>
    </div>
    <div class="debugger-fnview-header-right">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default" ng-model="codeType" btn-radio="'source'">PPC</button>
          <button type="button" class="btn btn-default" ng-model="codeType" btn-radio="'rawHir'">HIR (raw)</button>
          <button type="button" class="btn btn-default" ng-model="codeType" btn-radio="'hir'">HIR</button>
          <button type="button" class="btn btn-default" ng-model="codeType" btn-radio="'rawLir'">LIR (raw)</button>
          <button type="button" class="btn btn-default" ng-model="codeType" btn-radio="'lir'">LIR</button>
          <button type="button" class="btn btn-default" ng-model="codeType" btn-radio="'machineCode'">MC</button>
        </div>
        <!--
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default">1</button>
          <button type="button" class="btn btn-default">2</button>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Dropdown link</a></li>
              <li><a href="#">Dropdown link</a></li>
            </ul>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
  <div class="debugger-fnview-body">
    <div class="debugger-fnview-codeview">
      <textarea class="debugger-fnview-textarea"></textarea>
    </div>
    <div class="debugger-fnview-graphview">
      graph!
    </div>
  </div>
  <div class="debugger-fnview-footer">
    footer
  </div>
</div>
