<div class="console" ng-controller="ConsoleController">
  <div class="console-part-log">
    <div class="console-log-outer" ui-scroll-down-on="log.lines.length">
      <ul>
        <li ng-repeat="line in log.lines track by $index">{{line}}</li>
      </ul>
    </div>
  </div>
  <div class="console-part-input">
    <div class="console-input-left">
    </div>
    <div class="console-input-middle">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Command" ng-model="commandText" ui-enter="issueCommand()">
      </div>
    </div>
    <div class="console-input-right">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default">A</button>
        <button type="button" class="btn btn-default">B</button>
        <button type="button" class="btn btn-default">C</button>
      </div>
    </div>
  </div>
</div>
