<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.xenia.emulator">

    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="true"
        android:version="1" />

    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="0x400000" />

    <!-- Granted automatically - guest sockets. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name="jp.xenia.emulator.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="jp.xenia.emulator.GpuTraceViewerActivity"
            android:exported="true"
            android:label="@string/activity_label_gpu_trace_viewer"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />

        <activity
            android:name="jp.xenia.emulator.WindowDemoActivity"
            android:exported="true"
            android:label="@string/activity_label_window_demo"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />



        
