<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
  <div class="navbar-header">
    <a class="navbar-brand" href="http://xenia.jp/" target="_blank">Xenia</a>
  </div>
  <ul class="nav navbar-nav" ng-show="app.session">
    <li ui-sref-active="active"><a ui-sref="session.code">Code</a></li>
    <li ui-sref-active="active"><a ui-sref="session.memory">Memory</a></li>
    <li ui-sref-active="active"><a ui-sref="session.kernel">Kernel</a></li>
    <li ui-sref-active="active"><a ui-sref="session.gpu">GPU</a></li>
    <li ui-sref-active="active"><a ui-sref="session.apu">APU</a></li>
  </ul>
  <p class="navbar-text navbar-right"></p>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <div class="btn-group navbar-btn">
        <button type="button" class="btn btn-default" ng-click="connect()" ng-disabled="app.loading">
          <span class="glyphicon glyphicon-link"></span> Connect
        </button>
        <button type="button" class="btn btn-default" ng-click="open()" ng-disabled="app.loading">
          <span class="glyphicon glyphicon-file"></span> Open
        </button>
        <button type="button" class="btn btn-default" ng-click="refresh()" ng-disabled="app.loading">
          <span class="glyphicon glyphicon-refresh"></span> Refresh
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="app.loading">
          <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <p class="navbar-text navbar-right"></p>
  <p class="navbar-text navbar-right" ng-show="app.session">{{app.session.source}}</p>
</nav>
